@import "../../themes/Themes.scss";

.Employees {
  background-color: $grey-color;
  text-align: center;

  h1 {
    color: $darkBlue-color;
    font-size: 3em;
  }

  p {
    padding-bottom: 20px;
    font-size: 1.2em;
  }

  .Button {
    margin-left: 25px;
  }
}

.EmployeesGrid {
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

@media only screen and (max-width: 600px) {
  .Button {
    font-size: 1em;
    margin: 10px;
  }
}
